<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- 
	Gnuplot language module for BBEdit
	Will Pazner
	Version 0.1
	August 15, 2016
 -->
<plist version="1.0">
<dict>
	<key>BBEditDocumentType</key>
	<string>CodelessLanguageModule</string>
	<key>BBLMColorsSyntax</key>
	<true/>
	<key>BBLMIsCaseSensitive</key>
	<true/>
	<key>BBLMKeywords</key>
  <array>
    <dict>
      <key>RunKind</key> <string>com.barebones.bblm.predefined-symbol</string>
      <key>Keywords</key>
      <array>
        <string>arrow</string>
        <string>autoscale</string>
        <string>logscale</string>
        <string>angles</string>
        <string>u</string>
        <string>using</string>
        <string>t</string>
        <string>title</string>
        <string>w</string>
        <string>with</string>
        <string>l</string>
        <string>lines</string>
        <string>p</string>
        <string>points</string>
        <string>lp</string>
        <string>linespoints</string>
        <string>steps</string>
        <string>abs</string>
        <string>acos</string>
        <string>acosh</string>
        <string>arg</string>
        <string>asin</string>
        <string>asinh</string>
        <string>atan</string>
        <string>atanh</string>
        <string>atan2</string>
        <string>besj0</string>
        <string>besj1</string>
        <string>besy0</string>
        <string>besy1</string>
        <string>ceil</string>
        <string>column</string>
        <string>cos</string>
        <string>cosh</string>
        <string>erf</string>
        <string>erfc</string>
        <string>exp</string>
        <string>floor</string>
        <string>gamma</string>
        <string>ibeta</string>
        <string>inverf</string>
        <string>igamma</string>
        <string>imag</string>
        <string>invnorm</string>
        <string>int</string>
        <string>lgamma</string>
        <string>log</string>
        <string>log10</string>
        <string>norm</string>
        <string>rand</string>
        <string>real</string>
        <string>sgn</string>
        <string>sin</string>
        <string>sinh</string>
        <string>sqrt</string>
        <string>tan</string>
        <string>lambertw</string>
        <string>tanh</string>
        <string>valid</string>
        <string>tm_hour</string>
        <string>tm_mday</string>
        <string>tm_min</string>
        <string>tm_mon</string>
        <string>tm_sec</string>
        <string>tm_wday</string>
        <string>tm_yday</string>
        <string>tm_year</string>
        <string>xdata</string>
        <string>timefmt</string>
        <string>grid</string>
        <string>noytics</string>
        <string>ytics</string>
        <string>fs</string>
        <string>logscale</string>
        <string>time</string>
        <string>notime</string>
        <string>mxtics</string>
        <string>nomxtics</string>
        <string>style</string>
        <string>mcbtics</string>
        <string>nologscale</string>
        <string>axes</string>
        <string>x1y2</string>
        <string>unique</string>
        <string>acsplines</string>
        <string>arcs</string>
        <string>size</string>
        <string>origin</string>
        <string>multiplot</string>
        <string>xtics</string>
        <string>xrange</string>
        <string>xr</string>
        <string>yrange</string>
        <string>yr</string>
        <string>square</string>
        <string>nosquare</string>
        <string>ratio</string>
        <string>noratio</string>
        <string>binary</string>
        <string>matrix</string>
        <string>index</string>
        <string>every</string>
        <string>thru</string>
        <string>smooth</string>
        <string>sm</string>
        <string>all</string>
        <string>angles</string>
        <string>degrees</string>
        <string>radians</string>
        <string>arrow</string>
        <string>noarrow</string>
        <string>autoscale</string>
        <string>noautoscale</string>
        <string>arrowstyle</string>
        <string>x</string>
        <string>y</string>
        <string>z</string>
        <string>zcb</string>
        <string>linear</string>
        <string>cubicspline</string>
        <string>bspline</string>
        <string>order</string>
        <string>levels</string>
        <string>level</string>
        <string>auto</string>
        <string>discrete</string>
        <string>disc</string>
        <string>incremental</string>
        <string>incr</string>
        <string>from</string>
        <string>to</string>
        <string>head</string>
        <string>nohead</string>
        <string>graph</string>
        <string>base</string>
        <string>both</string>
        <string>nosurface</string>
        <string>table</string>
        <string>output</string>
        <string>out</string>
        <string>data</string>
        <string>bar</string>
        <string>border</string>
        <string>noborder</string>
        <string>boxwidth</string>
        <string>clabel</string>
        <string>noclabel</string>
        <string>clip</string>
        <string>noclip</string>
        <string>cntrparam</string>
        <string>cntrp</string>
        <string>contour</string>
        <string>nocontour</string>
        <string>dgrid3d</string>
        <string>nodgrid3d</string>
        <string>dummy</string>
        <string>encoding</string>
        <string>format</string>
        <string>function</string>
        <string>grid</string>
        <string>nogrid</string>
        <string>hidden3d</string>
        <string>hidden</string>
        <string>nohidden3d</string>
        <string>nohidden</string>
        <string>isosamples</string>
        <string>isosample</string>
        <string>key</string>
        <string>nokey</string>
        <string>historysize</string>
        <string>nohistorysize</string>
        <string>defaults</string>
        <string>offset</string>
        <string>nooffset</string>
        <string>trianglepattern</string>
        <string>undefined</string>
        <string>noundefined</string>
        <string>altdiagonal</string>
        <string>bentover</string>
        <string>noaltdiagonal</string>
        <string>nobentover</string>
        <string>left</string>
        <string>right</string>
        <string>top</string>
        <string>bottom</string>
        <string>outside</string>
        <string>below</string>
        <string>samplen</string>
        <string>spacing</string>
        <string>width</string>
        <string>height</string>
        <string>box</string>
        <string>nobox</string>
        <string>linestyle</string>
        <string>ls</string>
        <string>linetype</string>
        <string>lt</string>
        <string>linewidth</string>
        <string>lw</string>
        <string>Left</string>
        <string>Right</string>
        <string>autotitles</string>
        <string>noautotitles</string>
        <string>enhanced</string>
        <string>noenhanced</string>
        <string>isosamples</string>
        <string>label</string>
        <string>nolabel</string>
        <string>logscale</string>
        <string>nologscale</string>
        <string>nolog</string>
        <string>missing</string>
        <string>center</string>
        <string>font</string>
        <string>locale</string>
        <string>mapping</string>
        <string>margin</string>
        <string>bmargin</string>
        <string>lmargin</string>
        <string>rmargin</string>
        <string>tmargin</string>
        <string>spherical</string>
        <string>cylindrical</string>
        <string>cartesian</string>
        <string>linestyle</string>
        <string>nolinestyle</string>
        <string>linetype</string>
        <string>lt</string>
        <string>linewidth</string>
        <string>lw</string>
        <string>pointtype</string>
        <string>pt</string>
        <string>pointsize</string>
        <string>ps</string>
        <string>mouse</string>
        <string>nomouse</string>
        <string>nooffsets</string>
        <string>data</string>
        <string>candlesticks</string>
        <string>financebars</string>
        <string>linespoints</string>
        <string>lp</string>
        <string>vector</string>
        <string>nosurface</string>
        <string>term</string>
        <string>terminal</string>
        <string>linux</string>
        <string>aed767</string>
        <string>aed512</string>
        <string>gpic</string>
        <string>regis</string>
        <string>tek410x</string>
        <string>tek40</string>
        <string>vttek</string>
        <string>kc-tek40xx</string>
        <string>km-tek40xx</string>
        <string>selanar</string>
        <string>bitgraph</string>
        <string>xlib</string>
        <string>x11</string>
        <string>X11</string>
        <string>aifm</string>
        <string>cgm</string>
        <string>dumb</string>
        <string>fig</string>
        <string>gif</string>
        <string>small</string>
        <string>large</string>
        <string>size</string>
        <string>nofontlist</string>
        <string>winword6</string>
        <string>corel</string>
        <string>dxf</string>
        <string>emf</string>
        <string>hpgl</string>
        <string>hp2623a</string>
        <string>hp2648</string>
        <string>hp500c</string>
        <string>pcl5</string>
        <string>hpljii</string>
        <string>hpdj</string>
        <string>hppj</string>
        <string>imagen</string>
        <string>mif</string>
        <string>pbm</string>
        <string>png</string>
        <string>svg</string>
        <string>postscript</string>
        <string>enhanced_postscript</string>
        <string>qms</string>
        <string>table</string>
        <string>tgif</string>
        <string>tkcanvas</string>
        <string>epson-180dpi</string>
        <string>epson-60dpi</string>
        <string>epson-lx800</string>
        <string>nec-cp6</string>
        <string>okidata</string>
        <string>starc</string>
        <string>tandy-60dpi</string>
        <string>latex</string>
        <string>emtex</string>
        <string>pslatex</string>
        <string>pstex</string>
        <string>epslatex</string>
        <string>eepic</string>
        <string>tpic</string>
        <string>pstricks</string>
        <string>texdraw</string>
        <string>mf</string>
        <string>metafont</string>
        <string>mpost</string>
        <string>mp</string>
        <string>timestamp</string>
        <string>notimestamp</string>
        <string>variables</string>
        <string>version</string>
        <string>x2data</string>
        <string>y2data</string>
        <string>ydata</string>
        <string>zdata</string>
        <string>reverse</string>
        <string>writeback</string>
        <string>noreverse</string>
        <string>nowriteback</string>
        <string>axis</string>
        <string>mirror</string>
        <string>autofreq</string>
        <string>nomirror</string>
        <string>rotate</string>
        <string>autofreq</string>
        <string>norotate</string>
        <string>update</string>
        <string>multiplot</string>
        <string>nomultiplot</string>
        <string>mytics</string>
        <string>nomytics</string>
        <string>mztics</string>
        <string>nomztics</string>
        <string>mx2tics</string>
        <string>nomx2tics</string>
        <string>my2tics</string>
        <string>nomy2tics</string>
        <string>offsets</string>
        <string>origin</string>
        <string>output</string>
        <string>parametric</string>
        <string>para</string>
        <string>noparametric</string>
        <string>nopara</string>
        <string>pointsize</string>
        <string>polar</string>
        <string>nopolar</string>
        <string>zrange</string>
        <string>x2range</string>
        <string>y2range</string>
        <string>rrange</string>
        <string>cbrange</string>
        <string>trange</string>
        <string>urange</string>
        <string>vrange</string>
        <string>samples</string>
        <string>sample</string>
        <string>size</string>
        <string>bezier</string>
        <string>boxerrorbars</string>
        <string>boxes</string>
        <string>bargraph</string>
        <string>bars</string>
        <string>bar</string>
        <string>boxxyerrorbars</string>
        <string>boxxy</string>
        <string>csplines</string>
        <string>dots</string>
        <string>fsteps</string>
        <string>histeps</string>
        <string>impulses</string>
        <string>lines</string>
        <string>line</string>
        <string>linespoints</string>
        <string>linesp</string>
        <string>points</string>
        <string>poiinttype</string>
        <string>sbezier</string>
        <string>splines</string>
        <string>steps</string>
        <string>vectors</string>
        <string>xerrorbars</string>
        <string>xerr</string>
        <string>xyerrorbars</string>
        <string>xyerr</string>
        <string>yerrorbars</string>
        <string>yerr</string>
        <string>financebars</string>
        <string>candlesticks</string>
        <string>vector</string>
        <string>errorbars</string>
        <string>errorb</string>
        <string>surface</string>
        <string>filledcurves</string>
        <string>filledcurve</string>
        <string>pm3d</string>
        <string></string>
        <string></string>
        <string>x1</string>
        <string>x2</string>
        <string>y1</string>
        <string>y2</string>
        <string>xy</string>
        <string>closed</string>
        <string>at</string>
        <string>pi</string>
        <string>front</string>
        <string>errorlines</string>
        <string>xerrorlines</string>
        <string>yerrorlines</string>
        <string>xyerrorlines</string>
        <string>tics</string>
        <string>ticslevel</string>
        <string>ticscale</string>
        <string>time</string>
        <string>timefmt</string>
        <string>view</string>
        <string>xdata</string>
        <string>xdtics</string>
        <string>noxdtics</string>
        <string>ydtics</string>
        <string>noydtics</string>
        <string>zdtics</string>
        <string>nozdtics</string>
        <string>x2dtics</string>
        <string>nox2dtics</string>
        <string>y2dtics</string>
        <string>noy2dtics</string>
        <string>xlabel</string>
        <string>xlab</string>
        <string>ylabel</string>
        <string>ylab</string>
        <string>zlabel</string>
        <string>zlab</string>
        <string>cblabel</string>
        <string>cblab</string>
        <string>x2label</string>
        <string>y2label</string>
        <string>xmtics</string>
        <string>xmtics</string>
        <string>noxmtics</string>
        <string>ymtics</string>
        <string>noymtics</string>
        <string>zmtics</string>
        <string>nozmtics</string>
        <string>x2mtics</string>
        <string>nox2mtics</string>
        <string>y2mtics</string>
        <string>noy2mtics</string>
        <string>cbdtics</string>
        <string>nocbdtics</string>
        <string>cbmtics</string>
        <string>nocbmtics</string>
        <string>cbtics</string>
        <string>nocbtics</string>
        <string>xtics</string>
        <string>noxtics</string>
        <string>ytics</string>
        <string>noytics</string>
        <string>ztics</string>
        <string>noztics</string>
        <string>x2tics</string>
        <string>nox2tics</string>
        <string>y2tics</string>
        <string>noy2tics</string>
        <string>zero</string>
        <string>nozero</string>
        <string>zeroaxis</string>
        <string>nozeroaxis</string>
        <string>xzeroaxis</string>
        <string>noxzeroaxis</string>
        <string>yzeroaxis</string>
        <string>noyzeroaxis</string>
        <string>x2zeroaxis</string>
        <string>nox2zeroaxis</string>
        <string>y2zeroaxis</string>
        <string>noy2zeroaxis</string>
        <string>angles</string>
        <string>one</string>
        <string>two</string>
        <string>fill</string>
        <string>empty</string>
        <string>solid</string>
        <string>pattern</string>
        <string>default</string>
        <string>scansautomatic</string>
        <string>flush</string>
        <string>begin</string>
        <string>b</string>
        <string>noftriangles</string>
        <string>implicit</string>
        <string>palette</string>
        <string>positive</string>
        <string>negative</string>
        <string>ps_allcF</string>
        <string>nops_allcF</string>
        <string>maxcolors</string>
        <string>push</string>
        <string>fontfile</string>
        <string>pop</string>
        <string>rgbformulae</string>
        <string>defined</string>
        <string>file</string>
        <string>color</string>
        <string>model</string>
        <string>gradient</string>
        <string>colornames</string>
        <string>RGB</string>
        <string>HSV</string>
        <string>CMY</string>
        <string>YIQ</string>
        <string>XYZ</string>
        <string>colorbox</string>
        <string>vertical</string>
        <string>horizontal</string>
        <string>user</string>
        <string>bdefault</string>
        <string>loadpath</string>
        <string>fontpath</string>
        <string>decimalsign</string>
        <string>in</string>
        <string>out</string>
      </array>
    </dict>
    <dict>
      <key>RunKind</key> <string>com.barebones.bblm.keyword</string>
      <key>Keywords</key>
      <array>
        <string>bind</string>
        <string>call</string>
        <string>cd</string>
        <string>clear</string>
        <string>do</string>
        <string>evaluate</string>
        <string>exit</string>
        <string>fit</string>
        <string>help</string>
        <string>history</string>
        <string>if</string>
        <string>import</string>
        <string>load</string>
        <string>lower</string>
        <string>pause</string>
        <string>print</string>
        <string>printerr</string>
        <string>pwd</string>
        <string>quit</string>
        <string>raise</string>
        <string>refresh</string>
        <string>replot</string>
        <string>reread</string>
        <string>reset</string>
        <string>save</string>
        <string>set</string>
        <string>shell</string>
        <string>show</string>
        <string>splot</string>
        <string>stats</string>
        <string>system</string>
        <string>test</string>
        <string>undefine</string>
        <string>unset</string>
        <string>update</string>
        <string>while</string>
<!-- 
        <string>FIT_LIMIT</string>
        <string>FIT_MAXITER</string>
        <string>FIT_START_LAMBDA</string>
        <string>FIT_LAMBDA_FACTOR</string>
        <string>FIT_LOG</string>
        <string>FIT_SCRIPT</string>
 -->
        <string>for</string>
      </array>
    </dict>
    <dict>
      <key>RunKind</key> <string>com.barebones.bblm.variable</string>
      <key>Keywords</key>
      <array>
        <string>ARGC</string>
        <string>ARG0</string>
        <string>ARG1</string>
        <string>ARG2</string>
        <string>ARG3</string>
        <string>ARG4</string>
        <string>ARG5</string>
        <string>ARG6</string>
        <string>ARG7</string>
        <string>ARG8</string>
        <string>ARG9</string>
      </array>
    </dict>
  </array>
	<key>BBLMKeywordPatterns</key>
	<array>
		<dict>
			<key>RunKind</key> <string>com.barebones.bblm.variable</string>
			<key>Pattern</key> <string>\$.*</string><!-- <string>\$[^ \+\-\*\n/,]*</string> -->
		</dict>
	</array>
	<key>BBLMLanguageCode</key>
	<string>Gnup</string>
	<key>BBLMLanguageDisplayName</key>
	<string>Gnuplot</string>
	<key>BBLMScansFunctions</key>
	<false/>
	<key>BBLMSuffixMap</key>
	<array>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.gpi</string>
		</dict>
	</array>
	<key>Language Features</key>
	<dict>
<!-- 
		<key>Keyword Pattern</key>
		<string>\$[^ \+\-\*\n/,]*</string>
 -->
		<key>Close Parameter Lists</key>
		<string>)</string>
		<key>Open Parameter Lists</key>
		<string>(</string>
		<key>Close Statement Blocks</key>
		<string></string>
		<key>Close Strings 1</key>
		<string>&apos;</string>
		<key>Close Strings 2</key>
		<string>&quot;</string>
		<key>End-of-line Ends Strings 1</key>
		<false/>
		<key>End-of-line Ends Strings 2</key>
		<false/>
		<key>Escape Char in Strings 1</key>
		<string>\</string>
		<key>Escape Char in Strings 2</key>
		<string>\</string>
		<key>Identifier and Keyword Characters</key>
		<string>ABCDEFGHIJKLMNOPQRSTUVWXYZ_abcdefghijklmnopqrstuvwxyz0123456789$</string>
		<key>Open Line Comments</key>
		<string>#</string>
		<key>Open Strings 1</key>
		<string>&apos;</string>
		<key>Open Strings 2</key>
		<string>&quot;</string>
		<key>Prefix for Functions</key>
		<string></string>
		<key>Prefix for Procedures</key>
		<string></string>
		<key>Terminator for Prototypes 1</key>
		<string></string>
		<key>Terminator for Prototypes 2</key>
		<string></string>
		<key>String Pattern</key>
		<string>(?x:
			(?&gt;	"			(?s: \\. | [^"] )*?		(?: "			| $)	) |
			
			(?&gt;	'			(?s: \\. | [^'] )*?		(?: '			| $)	)
		)</string>
		<key>Comment Pattern</key>
		<string>(?x:
			(?&gt;	[\#]		.*			$		)
		)</string>
		<key>Number Pattern</key>
		<string><![CDATA[(?x: (?# this just turns on extended syntax, which allows whitespace and comments)
(?<![\d\w.$]) (?# must not be preceded by a digit or word char or period)
(?: (?# non-capturing group for alternation)
(?# version 1: hex notation like 0x0123456789abcdef)
(?:0x[[:xdigit:]]+) (?# the number written in hex form)
|
(?: (?# version 2: all other numbers, including whole numbers, decimals and exponentials)
[-+]? (?# optional plus or minus sign is included as part of the number)
(?: (?# non-capturing group for alternation)
\d+\.\d+ (?# version 2a: digits followed by a decimal followed by digits)
|
\d+ (?# version 2b: just digits)
)
(?: (?# optional exponent notation)
[eE][-+]? (?# with optional pos/neg)
\d+ (?# numeric portion of the exponent)
)?
)
)
(?=\b) (?# required word boundary after number. Here a decimal is fine.)
)]]></string>
	</dict>
	<key>BBLMCommentLineDefault</key>
	<string># </string>
</dict>
</plist>
